<!-- <app-binding></app-binding> -->
<!-- <app-inbuilddirective></app-inbuilddirective> -->
<!-- <input type ="text" appinbuilddirective>  -->
<!-- <app-binding></app-binding> -->
<!-- <app-reactiveformssee></app-reactiveformssee> -->
<!-- <app-http2></app-http2> -->
<!-- <app-ngif></app-ngif> -->
<!-- <app-calci></app-calci> -->
<!-- <app-to-do-list></app-to-do-list> -->
<!-- <nav> -->
<!-- <a routerLink="/post">post</a><br> -->
<!-- <a routerLink="/to-do-list">To Do List</a> -->
<!-- </nav> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-formadress></app-formadress> -->
<app-parent></app-parent>
<app-post></app-post>